<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
       ">
	<context:property-placeholder file-encoding="UTF-8" location="classpath:config.properties" />
	<context:component-scan base-package="com.auto.dao.impl,com.auto.service.impl,com.auto.aspect" />
	 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.url}</value>
		</property>
		<property name="user">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="maxPoolSize">
			<value>${jdbc.maxPoolSize}</value>
		</property>
		<property name="minPoolSize">
			<value>${jdbc.minPoolSize}</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>${jdbc.idleConnectionTestPeriod}</value>
		</property>
		<property name="maxIdleTime">
			<value>${jdbc.maxIdleTime}</value>
		</property>
	</bean>
	<!-- <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	   <property name="dataSource" ref="dataSource"/>
	   <property name="jpaVendorAdapter">
	       <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	            <property name="database" value="MYSQL"/>
	            <property name="generateDdl" value="true"/>
	       </bean>	
	   </property>
	</bean> -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean> 
	<aop:aspectj-autoproxy />
	
	<context:component-scan base-package="com.auto.dao.impl,com.auto.service.impl,com.auto.aspect" />
	
</beans>